@model List<PizzaModel>;



    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h3 style="font-family: 'Alegreya SC', serif;">
                    Le nostre pizze
                </h3>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <table class="table border-danger" style="font-family: 'Poltawski Nowy', serif;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" style="font-family: 'Alegreya SC', serif;">Pizza</th>
                            <th scope="col" style="font-family: 'Alegreya SC', serif;">Descrizione</th>
                            <th scope="col" style="font-family: 'Alegreya SC', serif;">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PizzaModel pizza in Model)
                        {
                            <tr>
                                <td><img class="img-fluid img_square min-vw-300" height="200" width="200" src=@pizza.ImgSource alt="Pizza @pizza.Name"></td>
                                <th scope="row">@pizza.Name</th>
                                <td>@pizza.Description</td>
                                <td>
                                    @pizza.Price
                                </td>
                                
                                @if (User.IsInRole("ADMIN"))
                                {<td>
                                    <div class="col-12 d-flex justify-content-center">
                                        <a href="@Url.Action("ModifyPizza", "Pizza", new{id=pizza.Id})" class="btn btn-success mt-3" style="font-family: 'Poltawski Nowy', serif;">Modifica la pizza</a>
                                    </div>
                                    <form asp-route-id="@pizza.Id" asp-controller="Pizza" asp-action="DestroyPizza" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="col-12 d-flex justify-content-center">
                                            <button class="btn btn-danger mt-3" style="font-family: 'Poltawski Nowy', serif;">Elimina la pizza</button>
                                        </div>
                                    </form>
                                </td>
                                }
                            </tr>
                        }
                        

                    </tbody>
                </table>
                 @if (User.IsInRole("ADMIN"))
            {
                <div class="row d-flex">
                    <div class="col-12 d-flex justify-content-center">
                            <a href="@Url.Action("CreatePizza", "Pizza")" class="btn btn-warning" style="font-family: 'Poltawski Nowy', serif;">Aggiungi una pizza al menù</a>
                            </div>

                    </div>
            }
            </div>
        </div>
    </div>
